@charset "UTF-8";
/* modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Wenn man in neuen Sass-Versionen den / Operator für Divisionen
nutzt, erhält man eine Warnmeldung, da dieser Syntax "deprecated" ist,
d.h. in kommenden Versionen von Sass nicht mehr erlaubt ist. 
Statt 10 / 2 sollte man künfigt math.div(10,2) schreiben und muss dafür
am Anfang der Datei das "Mathematik-Modul" von Sass importieren.
https://sass-lang.com/documentation/breaking-changes/slash-div
Weitere Mathematik-Funktionen:
https://sass-lang.com/documentation/modules/math
 */
/* 
  Diese Funktionen rechnen Pixel in rem bzw. em um. Einfach Anstelle
  von z.B. 20px die Funktion mit der Pixelzahl (ohne px!) aufrufen: rem(20)
  Wie die meisten anderen fortgeschrittenen Features von Sass benötigt man
  eigene Funktionen meist nicht, und es genügt, sich auf die wichtigsten
  und nützlichsten Sass-Features wie Nesting und Importe zu beschränken,
  aber im wesentlichen "normales" Css zu schreibne.
  Mehr zu Funktionen:
  https://sass-lang.com/documentation/at-rules/function
  */
:root {
  --dark-red: #4F0823;
  --dark-purple: hsl(230, 33%, 21%);
  --white: hsl(60, 100%, 100%);
  --light-gray: hsl(235, 15%, 70%);
  --orange: hsl(32, 100%, 51%);
  --black: hsl(247, 24%, 7%);
  --medium-red: hsl(339, 78%, 55%);
  --light-red: hsl(7, 86%, 62%);
  --text: var(--light-gray);
}
@supports (color: hsl(0 0% 0% / 0)){
:root {
  --dark-red: hsl(0, 100%, 43%);
}
}

body {
  background-color: #4F0823;
  color: hsl(235, 15%, 70%);
  color: var(--text);
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

header,
main,
footer {
  max-width: 80rem;
  margin: auto;
  padding: 0.5rem;
}

h1,
h2,
h3,
h4 {
  color: hsl(60, 100%, 100%);
  color: var(--white);
  font-family: sans-serif;
}

button {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: hsl(32, 100%, 51%);
  background: var(--orange);
  color: hsl(247, 24%, 7%);
  color: var(--black);
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;
}
button[disabled] {
  background: hsl(235, 15%, 70%);
  background: var(--text);
}
button:hover, button:focus {
  background-color: hsl(7, 86%, 62%);
  background-color: var(--light-red);
}

a {
  color: hsl(7, 86%, 62%);
  color: var(--light-red);
}
a:hover, a:focus {
  color: hsl(339, 78%, 55%);
  color: var(--medium-red);
}

.pots {
  display: flex;
  justify-content: space-around;
}

.country {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid;
  background-color: #7D0C2B;
  padding: 0 20px;
}

.pots h2 {
  text-transform: uppercase;
  background-color: #680B27;
  width: 245px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  min-width: 100%;
}

.team__country {
  text-transform: uppercase;
}

.team__flag {
  font-size: 35px;
}

.groups-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

h4 {
  border-bottom: 1px solid #D4C893;
  color: #680B27;
  text-align: center;
  padding-bottom: 10px;
}

.group {
  border: 1px solid;
  width: 80%;
  background-color: #EDEEE4;
  padding: 10px;
  border-radius: 20px;
  margin: 40px 0;
}

.team {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
}

.group-flag {
  font-size: 35px;
}

.group-country {
  color: #680B27;
}

button {
  background-color: #4F0823;
  color: #EDEEE4;
  font-size: 12px;
  width: 200px;
  max-width: 100%;
}
button:hover {
  background-color: #7D0C2B;
}

.draw-button {
  text-align: center;
}

.group-container h2 {
  text-align: center;
  padding-top: 40px;
  text-transform: uppercase;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-5 12:44:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.reset-draw-button {
  text-align: center;
  margin: 40px 0;
}

.reset {
  background-color: #EDEEE4;
  color: #680B27;
  height: 30px;
  text-transform: uppercase;
}
.reset:hover {
  color: #EDEEE4;
}

@media screen and (max-width: 1200px) {
  .groups-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 992px) {
  .pots {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (max-width: 668px) {
  .groups-list {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .group {
    width: initial;
    margin: 0;
    width: 240px;
  }
}

/*# sourceMappingURL=style.css.map */