:root {
  --dark-red: #4F0823;
  --dark-purple: hsl(230, 33%, 21%);
  --white: hsl(60, 100%, 100%);
  --light-gray: hsl(235, 15%, 70%);
  --orange: hsl(32, 100%, 51%);
  --black: hsl(247, 24%, 7%);
  --medium-red: hsl(339, 78%, 55%);
  --dark-red: hsl(0, 100%, 43%);
  --light-red: hsl(7, 86%, 62%);
  --text: var(--light-gray);
}
